pkgbase = codex-profile
	pkgdesc = Named Codex CLI profiles with separate local ChatGPT desktop state
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/Ducksss/codex-profiles
	arch = any
	license = MIT
	depends = bash
	source = codex-profile-0.8.0::https://raw.githubusercontent.com/Ducksss/codex-profiles/v0.8.0/bin/codex-profile
	source = LICENSE-0.8.0::https://raw.githubusercontent.com/Ducksss/codex-profiles/v0.8.0/LICENSE
	sha256sums = bd6b1cae5ac81d6968c0edfac4122f5314626d3d54af73372e0bdc89c0082768
	sha256sums = 9ff3b3e5b6a234802d746443539abda82c35d1581a98249b40636dd5acff4364

pkgname = codex-profile
